USE [master]
GO
/****** Object:  Database [PRNProject]    Script Date: 7/10/2022 11:45:59 AM ******/
CREATE DATABASE [PRNProject]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRNProject', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRNProject.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRNProject_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PRNProject_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRNProject].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRNProject]
GO
/****** Object:  Table [dbo].[ACCOUNTS]    Script Date: 7/10/2022 11:45:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACCOUNTS](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](25) NULL,
	[Address] [varchar](255) NULL,
	[Role] [int] NULL,
	[Username] [varchar](127) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CAMPUSES]    Script Date: 7/10/2022 11:45:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMPUSES](
	[CampusId] [int] NOT NULL,
	[CampusCode] [nvarchar](50) NULL,
	[CampusName] [nvarchar](100) NULL,
	[Description] [nvarchar](100) NULL,
 CONSTRAINT [PK_Campuses] PRIMARY KEY CLUSTERED 
(
	[CampusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE_SCHEDULES]    Script Date: 7/10/2022 11:45:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_SCHEDULES](
	[TeachingScheduleId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NULL,
	[TeachingDate] [datetime] NULL,
	[Slot] [int] NULL,
	[RoomId] [int] NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_TEACHING_SCHEDULES] PRIMARY KEY CLUSTERED 
(
	[TeachingScheduleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 7/10/2022 11:45:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[CourseCode] [nvarchar](50) NULL,
	[CourseDescription] [nvarchar](300) NULL,
	[SubjectId] [int] NOT NULL,
	[InstructorId] [int] NULL,
	[TermId] [int] NULL,
	[CampusID] [int] NULL,
 CONSTRAINT [PK_COURSES] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEPARTMENTS]    Script Date: 7/10/2022 11:45:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPARTMENTS](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [nvarchar](50) NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_DEPARTMENTS] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INSTRUCTORS]    Script Date: 7/10/2022 11:45:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSTRUCTORS](
	[InstructorId] [int] IDENTITY(1,1) NOT NULL,
	[InstructorFirstName] [nvarchar](50) NULL,
	[InstructorMidName] [nvarchar](50) NULL,
	[InstructorLastName] [nvarchar](50) NULL,
	[DepartmentId] [int] NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_INSTRUCTORS] PRIMARY KEY CLUSTERED 
(
	[InstructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NEWS]    Script Date: 7/10/2022 11:45:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NEWS](
	[NewsID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[Title] [ntext] NULL,
	[Context] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLL_CALL_BOOKS]    Script Date: 7/10/2022 11:45:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLL_CALL_BOOKS](
	[RollCallBookId] [int] IDENTITY(1,1) NOT NULL,
	[TeachingScheduleId] [int] NULL,
	[StudentId] [int] NULL,
	[IsAbsent] [bit] NULL,
	[Comment] [nvarchar](300) NULL,
 CONSTRAINT [PK_ROLL_CALL_BOOKS] PRIMARY KEY CLUSTERED 
(
	[RollCallBookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROOMS]    Script Date: 7/10/2022 11:45:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROOMS](
	[RoomId] [int] NOT NULL,
	[RoomCode] [nvarchar](50) NULL,
	[CampusId] [int] NULL,
	[Capacity] [int] NULL,
	[Type] [nvarchar](50) NULL,
	[Description] [nvarchar](50) NULL,
 CONSTRAINT [PK_ROOMS] PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENT_COURSE]    Script Date: 7/10/2022 11:45:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENT_COURSE](
	[CourseId] [int] NOT NULL,
	[StudentId] [int] NOT NULL,
	[Mark] [float] NULL,
 CONSTRAINT [PK_STUDENT_COURSE] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC,
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 7/10/2022 11:45:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[StudentId] [int] NOT NULL,
	[Roll#] [nvarchar](50) NULL,
	[FirstName] [nvarchar](50) NULL,
	[MidName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[UserID] [int] NULL,
 CONSTRAINT [PK_STUDENTS] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECTS]    Script Date: 7/10/2022 11:45:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECTS](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectCode] [nvarchar](50) NULL,
	[SubjectName] [nvarchar](50) NULL,
	[DepartmentId] [int] NULL,
 CONSTRAINT [PK_SUBJECTS] PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TERMS]    Script Date: 7/10/2022 11:45:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TERMS](
	[TermId] [int] NOT NULL,
	[TermName] [nvarchar](50) NULL,
	[FromDate] [datetime] NULL,
	[ToDate] [datetime] NULL,
	[Description] [nvarchar](300) NULL,
 CONSTRAINT [PK_Terms] PRIMARY KEY CLUSTERED 
(
	[TermId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ACCOUNTS] ON 

INSERT [dbo].[ACCOUNTS] ([UserID], [Password], [Phone], [Email], [Address], [Role], [Username]) VALUES (2, N'a', N'a', N'a', N'a', 1, N'st1')
INSERT [dbo].[ACCOUNTS] ([UserID], [Password], [Phone], [Email], [Address], [Role], [Username]) VALUES (3, N'a', N'a', N'a', N'a', 1, N'st2')
INSERT [dbo].[ACCOUNTS] ([UserID], [Password], [Phone], [Email], [Address], [Role], [Username]) VALUES (4, N'a', N'a', N'a', N'a', 1, N'st3')
SET IDENTITY_INSERT [dbo].[ACCOUNTS] OFF
GO
INSERT [dbo].[CAMPUSES] ([CampusId], [CampusCode], [CampusName], [Description]) VALUES (1, N'BSE-HN', N'BSE-HN', NULL)
GO
SET IDENTITY_INSERT [dbo].[COURSE_SCHEDULES] ON 

INSERT [dbo].[COURSE_SCHEDULES] ([TeachingScheduleId], [CourseId], [TeachingDate], [Slot], [RoomId], [Description]) VALUES (1, 1, CAST(N'2011-07-23T12:26:12.443' AS DateTime), 1, 216, NULL)
INSERT [dbo].[COURSE_SCHEDULES] ([TeachingScheduleId], [CourseId], [TeachingDate], [Slot], [RoomId], [Description]) VALUES (2, 1, CAST(N'2011-07-24T12:26:12.450' AS DateTime), 2, 216, NULL)
INSERT [dbo].[COURSE_SCHEDULES] ([TeachingScheduleId], [CourseId], [TeachingDate], [Slot], [RoomId], [Description]) VALUES (3, 1, CAST(N'2011-07-25T12:26:12.450' AS DateTime), 3, 216, NULL)
SET IDENTITY_INSERT [dbo].[COURSE_SCHEDULES] OFF
GO
SET IDENTITY_INSERT [dbo].[COURSES] ON 

INSERT [dbo].[COURSES] ([CourseId], [CourseCode], [CourseDescription], [SubjectId], [InstructorId], [TermId], [CampusID]) VALUES (1, N'SE0507', N'SE0507', 30, 1, 5, 1)
INSERT [dbo].[COURSES] ([CourseId], [CourseCode], [CourseDescription], [SubjectId], [InstructorId], [TermId], [CampusID]) VALUES (4, N'SE0508', N'SE0508', 30, 2, 5, 1)
INSERT [dbo].[COURSES] ([CourseId], [CourseCode], [CourseDescription], [SubjectId], [InstructorId], [TermId], [CampusID]) VALUES (5, N'SE0509', N'SE0509', 30, 3, 5, 1)
SET IDENTITY_INSERT [dbo].[COURSES] OFF
GO
SET IDENTITY_INSERT [dbo].[DEPARTMENTS] ON 

INSERT [dbo].[DEPARTMENTS] ([DepartmentId], [DepartmentName], [Description]) VALUES (1, N'Business Administration', NULL)
INSERT [dbo].[DEPARTMENTS] ([DepartmentId], [DepartmentName], [Description]) VALUES (2, N'Chinese', NULL)
INSERT [dbo].[DEPARTMENTS] ([DepartmentId], [DepartmentName], [Description]) VALUES (3, N'Computing Fundamental', N'CF')
SET IDENTITY_INSERT [dbo].[DEPARTMENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[INSTRUCTORS] ON 

INSERT [dbo].[INSTRUCTORS] ([InstructorId], [InstructorFirstName], [InstructorMidName], [InstructorLastName], [DepartmentId], [UserID]) VALUES (1, N'Thu', N'Vinh', N'Tran', 12, 61)
INSERT [dbo].[INSTRUCTORS] ([InstructorId], [InstructorFirstName], [InstructorMidName], [InstructorLastName], [DepartmentId], [UserID]) VALUES (2, N'Quang', N'Ngoc', N'La', 3, 62)
INSERT [dbo].[INSTRUCTORS] ([InstructorId], [InstructorFirstName], [InstructorMidName], [InstructorLastName], [DepartmentId], [UserID]) VALUES (3, N'Tu', NULL, N'Do', 3, 63)
SET IDENTITY_INSERT [dbo].[INSTRUCTORS] OFF
GO
SET IDENTITY_INSERT [dbo].[NEWS] ON 

INSERT [dbo].[NEWS] ([NewsID], [UserID], [CreatedDate], [Title], [Context]) VALUES (1, 63, CAST(N'2022-07-09T22:59:01.563' AS DateTime), N'First News', N'First News')
INSERT [dbo].[NEWS] ([NewsID], [UserID], [CreatedDate], [Title], [Context]) VALUES (2, 63, CAST(N'2022-07-09T22:59:01.563' AS DateTime), N'Second News', N'Second News')
INSERT [dbo].[NEWS] ([NewsID], [UserID], [CreatedDate], [Title], [Context]) VALUES (3, 63, CAST(N'2022-07-09T22:59:01.563' AS DateTime), N'Third News', N'Third News')
SET IDENTITY_INSERT [dbo].[NEWS] OFF
GO
SET IDENTITY_INSERT [dbo].[ROLL_CALL_BOOKS] ON 

INSERT [dbo].[ROLL_CALL_BOOKS] ([RollCallBookId], [TeachingScheduleId], [StudentId], [IsAbsent], [Comment]) VALUES (1, 1, 1, 0, NULL)
INSERT [dbo].[ROLL_CALL_BOOKS] ([RollCallBookId], [TeachingScheduleId], [StudentId], [IsAbsent], [Comment]) VALUES (2, 1, 2, 1, NULL)
INSERT [dbo].[ROLL_CALL_BOOKS] ([RollCallBookId], [TeachingScheduleId], [StudentId], [IsAbsent], [Comment]) VALUES (3, 1, 3, 1, NULL)
GO
SET IDENTITY_INSERT [dbo].[ROLL_CALL_BOOKS] OFF
GO
INSERT [dbo].[ROOMS] ([RoomId], [RoomCode], [CampusId], [Capacity], [Type], [Description]) VALUES (103, N'P103', 1, 32, N'Computer lab', NULL)
INSERT [dbo].[ROOMS] ([RoomId], [RoomCode], [CampusId], [Capacity], [Type], [Description]) VALUES (105, N'P105', 1, 32, N'Computer lab', NULL)
INSERT [dbo].[ROOMS] ([RoomId], [RoomCode], [CampusId], [Capacity], [Type], [Description]) VALUES (107, N'P107', 1, 24, N'Meeting room', NULL)
GO
INSERT [dbo].[STUDENT_COURSE] ([CourseId], [StudentId], [Mark]) VALUES (1, 1, 9)
INSERT [dbo].[STUDENT_COURSE] ([CourseId], [StudentId], [Mark]) VALUES (1, 2, 9)
INSERT [dbo].[STUDENT_COURSE] ([CourseId], [StudentId], [Mark]) VALUES (1, 3, 9)
GO
INSERT [dbo].[STUDENTS] ([StudentId], [Roll#], [FirstName], [MidName], [LastName], [UserID]) VALUES (1, N'00257', N'Mão', N'Xuân', N'Đào', 2)
INSERT [dbo].[STUDENTS] ([StudentId], [Roll#], [FirstName], [MidName], [LastName], [UserID]) VALUES (2, N'00462', N'Nam', N'Giang', N'Đặng', 3)
INSERT [dbo].[STUDENTS] ([StudentId], [Roll#], [FirstName], [MidName], [LastName], [UserID]) VALUES (3, N'00466', N'Quang', N'Ngọc', N'Nguyễn', 4)
GO
SET IDENTITY_INSERT [dbo].[SUBJECTS] ON 

INSERT [dbo].[SUBJECTS] ([SubjectId], [SubjectCode], [SubjectName], [DepartmentId]) VALUES (20, N'MA101', N'Advanced Mathematics 1', 9)
INSERT [dbo].[SUBJECTS] ([SubjectId], [SubjectCode], [SubjectName], [DepartmentId]) VALUES (21, N'MA102', N'Advanced Mathematics 2', 9)
INSERT [dbo].[SUBJECTS] ([SubjectId], [SubjectCode], [SubjectName], [DepartmentId]) VALUES (22, N'DM101', N'Discrete Mathematics 1', 9)
GO
SET IDENTITY_INSERT [dbo].[SUBJECTS] OFF
GO
INSERT [dbo].[TERMS] ([TermId], [TermName], [FromDate], [ToDate], [Description]) VALUES (1, N'Spring2010', NULL, NULL, N'Block1 (04/01,23/01)')
INSERT [dbo].[TERMS] ([TermId], [TermName], [FromDate], [ToDate], [Description]) VALUES (2, N'Summer2010', NULL, NULL, N'Block1 (10/05,30/05)')
INSERT [dbo].[TERMS] ([TermId], [TermName], [FromDate], [ToDate], [Description]) VALUES (3, N'Fall2010', NULL, NULL, N'Block 1-2 (06/09,16/10)')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ACCOUNTS__536C85E4B5A8E5A6]    Script Date: 7/10/2022 11:45:59 AM ******/
ALTER TABLE [dbo].[ACCOUNTS] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COURSE_SCHEDULES]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_SCHEDULES_COURSES] FOREIGN KEY([CourseId])
REFERENCES [dbo].[COURSES] ([CourseId])
GO
ALTER TABLE [dbo].[COURSE_SCHEDULES] CHECK CONSTRAINT [FK_COURSE_SCHEDULES_COURSES]
GO
ALTER TABLE [dbo].[COURSE_SCHEDULES]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_SCHEDULES_ROOMS] FOREIGN KEY([RoomId])
REFERENCES [dbo].[ROOMS] ([RoomId])
GO
ALTER TABLE [dbo].[COURSE_SCHEDULES] CHECK CONSTRAINT [FK_COURSE_SCHEDULES_ROOMS]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_Campuses] FOREIGN KEY([CampusID])
REFERENCES [dbo].[CAMPUSES] ([CampusId])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_Campuses]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_INSTRUCTORS] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[INSTRUCTORS] ([InstructorId])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_INSTRUCTORS]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_SUBJECTS] FOREIGN KEY([SubjectId])
REFERENCES [dbo].[SUBJECTS] ([SubjectId])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_SUBJECTS]
GO
ALTER TABLE [dbo].[COURSES]  WITH CHECK ADD  CONSTRAINT [FK_COURSES_TERMS] FOREIGN KEY([TermId])
REFERENCES [dbo].[TERMS] ([TermId])
GO
ALTER TABLE [dbo].[COURSES] CHECK CONSTRAINT [FK_COURSES_TERMS]
GO
ALTER TABLE [dbo].[INSTRUCTORS]  WITH CHECK ADD  CONSTRAINT [FK_INSTRUCTORS_ACCOUNTS] FOREIGN KEY([UserID])
REFERENCES [dbo].[ACCOUNTS] ([UserID])
GO
ALTER TABLE [dbo].[INSTRUCTORS] CHECK CONSTRAINT [FK_INSTRUCTORS_ACCOUNTS]
GO
ALTER TABLE [dbo].[INSTRUCTORS]  WITH CHECK ADD  CONSTRAINT [FK_INSTRUCTORS_DEPARTMENTS] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[DEPARTMENTS] ([DepartmentId])
GO
ALTER TABLE [dbo].[INSTRUCTORS] CHECK CONSTRAINT [FK_INSTRUCTORS_DEPARTMENTS]
GO
ALTER TABLE [dbo].[NEWS]  WITH CHECK ADD  CONSTRAINT [fk_News_Accounts] FOREIGN KEY([UserID])
REFERENCES [dbo].[ACCOUNTS] ([UserID])
GO
ALTER TABLE [dbo].[NEWS] CHECK CONSTRAINT [fk_News_Accounts]
GO
ALTER TABLE [dbo].[ROLL_CALL_BOOKS]  WITH CHECK ADD  CONSTRAINT [FK_ROLL_CALL_BOOKS_COURSE_SCHEDULES] FOREIGN KEY([TeachingScheduleId])
REFERENCES [dbo].[COURSE_SCHEDULES] ([TeachingScheduleId])
GO
ALTER TABLE [dbo].[ROLL_CALL_BOOKS] CHECK CONSTRAINT [FK_ROLL_CALL_BOOKS_COURSE_SCHEDULES]
GO
ALTER TABLE [dbo].[ROLL_CALL_BOOKS]  WITH CHECK ADD  CONSTRAINT [FK_ROLL_CALL_BOOKS_STUDENTS] FOREIGN KEY([StudentId])
REFERENCES [dbo].[STUDENTS] ([StudentId])
GO
ALTER TABLE [dbo].[ROLL_CALL_BOOKS] CHECK CONSTRAINT [FK_ROLL_CALL_BOOKS_STUDENTS]
GO
ALTER TABLE [dbo].[ROOMS]  WITH CHECK ADD  CONSTRAINT [FK_ROOMS_Campuses] FOREIGN KEY([CampusId])
REFERENCES [dbo].[CAMPUSES] ([CampusId])
GO
ALTER TABLE [dbo].[ROOMS] CHECK CONSTRAINT [FK_ROOMS_Campuses]
GO
ALTER TABLE [dbo].[STUDENT_COURSE]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_COURSE_COURSES] FOREIGN KEY([CourseId])
REFERENCES [dbo].[COURSES] ([CourseId])
GO
ALTER TABLE [dbo].[STUDENT_COURSE] CHECK CONSTRAINT [FK_STUDENT_COURSE_COURSES]
GO
ALTER TABLE [dbo].[STUDENT_COURSE]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_COURSE_STUDENTS] FOREIGN KEY([StudentId])
REFERENCES [dbo].[STUDENTS] ([StudentId])
GO
ALTER TABLE [dbo].[STUDENT_COURSE] CHECK CONSTRAINT [FK_STUDENT_COURSE_STUDENTS]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTS_ACCOUNTS] FOREIGN KEY([UserID])
REFERENCES [dbo].[ACCOUNTS] ([UserID])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [FK_STUDENTS_ACCOUNTS]
GO
ALTER TABLE [dbo].[SUBJECTS]  WITH CHECK ADD  CONSTRAINT [FK_SUBJECTS_DEPARTMENTS] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[DEPARTMENTS] ([DepartmentId])
GO
ALTER TABLE [dbo].[SUBJECTS] CHECK CONSTRAINT [FK_SUBJECTS_DEPARTMENTS]
GO
USE [master]
GO
