@using PRNProject.Models
<link href="~/css/StyleHome.css" rel="stylesheet"/>

        <div>
                <div>
                    <h3>Academic information</h3>
                </div>
                <div class="row">
                <div class="col-md-6">
                    <h4>Registration/Application</h4>
                    <ul>
                        <li><a href="/Application/SendApplication/">Send Appication </a><span>(Gửi đơn)</span></li>
                        <li><a href="/Application/ViewApplication/1">View Appication </a><span>(Xem đơn)</span></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4>Information access</h4>
                    <ul>
                        <li><a href="/Schedule/Index/">University timetable </a><span>(Lịch học)</span></li>
                        <li><a href="">Weekly timetable </a><span>(Thời khóa biểu từng tuần)</span></li>
                        <li><a href="">University timetable </a><span>Lịch học</span></li>
                    </ul>
                </div>
                </div>
                <div class="row">
                                <div class="col-md-6">
                    <h4>Feedbacks</h4>
                    <ul>
                        <li><a href="">Feedback about teaching </a><span>(Báo cáo về việc giảng dạy)</span></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <h4>Report</h4>
                    <ul>
                        <li><a href="">Attendance report </a><span>(Báo cáo điểm danh)</span></li>
                        <li><a href="/Grade/StudentGrade">Mark report </a><span>(Báo cáo điểm)</span></li>
                        <li><a href="/AcademicTranscript/Index">Academic transcript </a><span>(Báo cáo điểm)</span></li>
                        <li><a href="/Curiculum/StudentCuriculum">Curiculum </a><span>(Khung chương trình)</span></li>
                    </ul>
                </div>
                </div>
                <div  class="row">
                                <div class="col-md-6">
                    <h4>Other</h4>
                    <span>@ViewBag.Id</span>
                    <ul>
                        <li><a href="/Student/Profile">Student profile </a><span></span></li>
                        <li><a href="/Term/List">View semeter </a><span>(Xem thông tin về học kỳ)</span></li>
                        <li><a href="/Room/List">View room </a><span>(Xem thông tin về phòng)</span></li>
                    </ul>
                </div>
            </div>
            </div>
