@using PRNProject.Models
<link href="~/css/StyleHome.css" rel="stylesheet" />

<div>
    <div>
        <h3>Academic information</h3>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="panel-container" href="/Student/Profile/">
                <div class="panel">
                    <div>
                        <i class="fa-solid fa-address-card"></i>
                        <span>Profile</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="panel-container" href="/Schedule/Index/">
                <div class="panel">
                    <div>
                        <i class="fa-regular fa-calendar-check"></i>
                        <span>Time Table</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="panel-container" href="/Grade/StudentGrade/">
                <div class="panel">
                    <div>
                        <i class="fa-solid fa-feather-pointed"></i>
                        <span>Mark Report</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="panel-container" href="/Application/SendApplication/">
                <div class="panel">
                    <div>
                        <i class="fa-solid fa-envelopes-bulk"></i>
                        <span>Send Application</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="panel-container" href="/Application/ViewApplication/1">
                <div class="panel">
                    <div>
                        <i class="fa-solid fa-envelope-open"></i>
                        <span>View Application</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="panel-container" href="/AcademicTranscript/Index">
                <div class="panel">
                    <div>
                        <i class="fa-solid fa-address-book"></i>
                        <span>Academic Transcript</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <a class="panel-container" href="/Curiculum/StudentCuriculum">
                <div class="panel">
                    <div>
                        <i class="fa-solid fa-school"></i>
                        <span>Curiculum</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="panel-container" href="/Term/List">
                <div class="panel">
                    <div>
                        <i class="fa-solid fa-clipboard-list"></i>
                        <span>Semeter</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a class="panel-container" href="/Room/List">
                <div class="panel">
                    <div>
                        <i class="fa-solid fa-people-roof"></i>
                        <span>Room</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
