.flex{
    display:flex;
}
.flex-column{
    flex-direction: column;
}
.flex-1{
    flex: 1;
}
.bold{
    font-weight: bold;
}
img.student-image.img-thumbnail {
    width: 100%;
    height: auto;
}
label.item-name {
    font-weight: bold;
}
.item {
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}
input#first-name, input#mid-name{
    width: 40%;
}
input#last-name {
    width: 20%;
}
#edit-btn, #save-btn, #cancel-btn{
    margin-left:20px;
}
#save-btn, #cancel-btn {
    display: none;
}
#message {
    color: red;
    font-weight: bold;
    font-size: 150%;
}
.header {
    font-size: 150%;
    font-weight: bold;
    /* margin-top: 20px; */
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}
.cur-balance {
    width: 50%;
    margin: 0 auto;
    margin-top: 20%;
}
.cur-balance td, .cur-balance th{
    border-bottom: none;
}
.cur-balance thead tr:first-child{
    border-bottom: 3px solid black;
}
.cur-balance th:first-child{
    border-right: 3px solid black;
}