body {
    font-family: fangsong;
}
nav.navbar.navbar-expand-lg {
    background: pink;
    height: 70px;
}
footer a {
    text-decoration: none;
    color: black;
}
footer{
    background: pink;
}
.body-left {
    padding: 20px;
}

.body-left > div {
    background: black;
}

.body-left > div {
    background: #fff;
    box-shadow: 1px 2px 5px #adb5bdb3;
    border-radius: 10px;
}

.body-left > div h3 {
    position: relative;
    top: -20px;
    left: 20px;
    background: red;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
}

.body-left a {
    text-decoration: none;
}

.body-right.col-md-7 {
    padding: 20px;
    padding-top: 40px !important;
}

.body-right.col-md-7 > div {
    box-shadow: 1px 2px 5px #adb5bdb3;
    border-radius: 10px;
    height: 100%;
}

.body-right a {
    text-decoration: none;
}

.body-right h3 {
    background: yellow;
    width: fit-content;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: -20px;
    left: 20px;
}

.row {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #0000002e;
    padding-top: 20px;
    padding-bottom: 20px;
}
.layout-body-left {
    padding: 20px;
    padding-top: 40px;
}
.layout-body-left > div {
    background: #fff;
    box-shadow: 1px 2px 5px #adb5bdb3;
    border-radius: 10px;
    height: 100%;
}
.layout-body-left > div h3 {
    position: relative;
    top: -20px;
    left: 20px;
    background: red;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    height: 40px;
    line-height: 40px;
}
    .layout-body-left a {
        text-decoration: none;
        color: black;
        font-family: fangsong;
    }
.layout-body-left li{
    margin-top: 5px;
    margin-bottom: 5px;
}
.layout-body-left ul{
    height: 100%;
}
img.img-thumbnail {
    width: 40px;
    height: 40px;
    padding: 0;
}
.account-wrapper{
    background: pink;
    margin-right: 25px;
}
.account-container:hover, .account-wrapper:hover {
    background: pink !important;
}
.btn.dropdown-toggle.account-wrapper {
    background: red;
    color: white;
}
body {
    background: #e9ecef38;
}
.container.body-content {
    background: #fff;
}
ul.news-wrapper span {
    color: black;
    font-weight: 700;
    font-family: fangsong;
}
.btn-view-news {
    float: right;
    margin-right: 30px;
}
.breadcrumb-item a{
    text-decoration: none;
}
h1.cur-title {
    font-size: 200%;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
}
span.cur-name {
    color: red;
}