.flex{
    display:flex;
}
.flex-column{
    flex-direction: column;
}
.flex-1{
    flex: 1;
}
.bold{
    font-weight: bold;
}
img.student-image.img-thumbnail {
    width: 100%;
    height: auto;
}
label.item-name {
    font-weight: bold;
}
.item {
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}
input#first-name, input#mid-name{
    width: 40%;
}
input#last-name {
    width: 20%;
}
#edit-btn, #save-btn, #cancel-btn{
    margin-left:20px;
}
#save-btn, #cancel-btn {
    display: none;
}
#message {
    color: red;
    font-weight: bold;
    font-size: 150%;
}