@using PRNProject.Models
@model List<Term>
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home/home">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Terms</li>
  </ol>
  </nav>
  <div>
        <h1>Term</h1>
        <div class="news-container">
            <table class="table table-striped table-hover table-bordered">
              <thead>
                <tr>
                  <th scope="col">Term</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                </tr>
              </thead>
              <tbody>
                  @foreach (Term t in Model)
                 {
                     <tr>
                         <td>@t.TermName</td>
                         <td>@t.FromDate.Value.ToShortDateString()</td>
                         <td>@t.ToDate.Value.ToShortDateString()</td>
                     </tr>
                 }
              </tbody>
            </table>
        </div>
  </div>